public/products/**/*.jpg filter=lfs diff=lfs merge=lfs -text
public/products/**/*.jpeg filter=lfs diff=lfs merge=lfs -text
public/products/**/*.JPG filter=lfs diff=lfs merge=lfs -text
public/products/**/*.JPEG filter=lfs diff=lfs merge=lfs -text
public/products/**/*.png filter=lfs diff=lfs merge=lfs -text
public/products/**/*.webp filter=lfs diff=lfs merge=lfs -text
public/products/** !text !filter !merge !diff
